{% extends "app/layout.html" %}

{% block content %}
<div class="auth-container">
    <h2>Регистрация пользователя</h2>
    <div class="auth-form">
        <form method="POST">
            {% csrf_token %}
            <h4>Создайте новый аккаунт</h4>
            <hr />
            <div class="form-group">
                <label for="id_username">Имя пользователя</label>
                {{ regform.username }}
            </div>
            <div class="form-group">
                <label for="id_password1">Пароль</label>
                {{ regform.password1 }}
            </div>
            <div class="form-group">
                <label for="id_password2">Подтвердите пароль</label>
                {{ regform.password2 }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>
    <div class="auth-prompt">
        <h4>Уже есть аккаунт?</h4>
        <p>Тогда войдите в систему!</p>
        <a href="{% url 'login' %}" class="btn btn-success">Войти</a>
    </div>
</div>
{% endblock %}